 .contact1{
    padding: 100px 150px;
    display: flex;
    justify-content: center;
    align-items:flex-start;
 }
 .k img{
    padding-top: 20px;    
    margin-right: 20px;
 }
 .k{
    padding-top: 40px;
    font-size: 20px;
 }
 .k p{
    width: 500px;
   
 }
 .p{
    width: 100%;  
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
 }
  